.logo {
  max-width: 50%;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 4%;
}

nav {
  display: none;
}

.burger-menu {
  padding-top: 20px;
  height: 24px;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 3px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  background-image: url('https://festadafrancofonia.com/wp-content/uploads/2022/02/02-banner@2x-scaled.jpg');
  background-size: cover;
}

.banner div {
  color: white;
  padding: 40px 40px;
}

.banner div p {
  font-size: 16px;
  font-weight: bold;
}

.banner div h1 {
  font-size: 50px;
  font-weight: bold;
}

main {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
}

main section:first-child {
  padding-bottom: 30px;
}

main section img {
  max-width: 100%;
}

#red-date-text {
  color: brown;
}

hr {
  width: 90%;
}

.bottom-section {
  padding-top: 30px;
  margin: 30px;
  border-top: 1px solid black;
}

.bottom-section p {
  text-align: center;
  font-weight: bold;
}

.bottom-section div {
  text-align: center;
  padding-top: 40px;
}

i {
  padding-right: 5px;
  font-size: 20px;
}

i:hover {
  opacity: 0.2;
}

footer {
  padding-left: 5px;
  padding-top: 20px;
  background-color: #2b2e34;
  color: #ffffff;
  font-size: 10px;
}

footer div {
  padding-left: 7px;
}

footer div a {
  line-height: 20px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
