.logo {
  max-width: 50%;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 4%;
}

nav {
  display: none;
}

.burger-menu {
  padding-top: 20px;
  height: 24px;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 3px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  background-position: center center;
  background-image: url('https://festadafrancofonia.com/wp-content/uploads/2022/02/02-banner@2x-scaled.jpg');
  background-size: cover;
}

.banner div {
  color: white;
  padding: 40px 40px;
}

.banner div p {
  font-size: 16px;
  font-weight: bold;
}

.banner div h1 {
  font-size: 50px;
  font-weight: bold;
}

main {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
}

main section:first-child {
  padding-bottom: 30px;
}

main section img {
  max-width: 100%;
}

#red-date-text {
  color: brown;
}

hr {
  width: 90%;
}

.bottom-section {
  padding-top: 30px;
  margin: 30px;
  border-top: 1px solid black;
}

.bottom-section p {
  text-align: center;
  font-weight: bold;
}

.bottom-section div {
  text-align: center;
  padding-top: 40px;
}

i {
  padding-right: 5px;
  font-size: 20px;
}

i:hover {
  opacity: 0.2;
}

footer {
  padding-left: 5px;
  padding-top: 20px;
  background-color: #2b2e34;
  color: #ffffff;
  font-size: 10px;
}

footer div {
  padding-left: 7px;
}

footer div a {
  line-height: 20px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .dropdown {
    display: none;
  }

  nav {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
  }

  .logo {
    max-width: 150px;
    flex-grow: 1;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  main {
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    padding: 100px;
  }

  main section:nth-child(2) {
    align-self: center;
  }

  #red-date-text {
    margin-top: 0;
  }

  .bottom-section {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
  }

  .bottom-section img {
    max-width: 150px;
    padding-right: 50px;
  }

  .bottom-section div {
    margin-left: auto;
    display: flex;
    justify-self: flex-end;
  }

  footer {
    padding: 15px 0;
  }

  footer div a {
    display: inline;
    padding-left: 100px;
  }

  footer p {
    display: inline;
  }

  footer div {
    display: inline;
  }
}
